/*  ---------- 
    MAIN
 ----------  */

/*---- FONTS ----*/

:root {
    --default-font: Avenir, "Avenir Next", "Avenir Next Cyr", 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    --light-accent: rgb(203, 77, 73);
    --dark-accent: rgb(205,133,63);
    --highlight-pink: #fe1aa4;
    --highlight-yellow: #ffdf65;
    --highlight-orange: #ff9933;
    --highlight-blue: #04d9ff;
}

body {
    --editor-font-size: 14px;
}

/*
.cm-s-obsidian, .markdown-preview-view {
  text-align: justify;
}
*/

.markdown-preview-view h1 {
    font-size: 175%;
    line-height: 150%;
}

.markdown-preview-view h2 {
    font-size: 150%;
    line-height: 140%;
}

.markdown-preview-view h3 {
    font-size: 130%;
    line-height: 130%;
}

.markdown-preview-view h4 {
    font-size: 120%;
    line-height: 120%;
}

.markdown-preview-view h5 {
    font-size: 110%;
    line-height: 110%;
}

.view-header-title {
    font-size: 12px;
    font-weight: 600;
    overflow: auto;
}

.internal-query-header {
    display: none!important;
}

/* ------- EMPTY Home Screen -----*/
.empty-state {
    display: none;
}

/* ------- REMOVE ROOT FOLDER TITLE --------*/
.nav-folder-title[data-path="/"] {
    display: none;
}

/*  ----------  LIGHT THEME ----------  */

.theme-light {
    --background-inline-code: rgb(240, 240, 240);
    --background-nav-alt: rgb(58, 62, 63);
    --background-nav-file-tag: var(--light-accent);
    --background-nav-selected: var(--light-accent);
    --background-nav: rgb(41, 44, 46);
    --background-primary: #fff;
    --background-secondary-alt: #fff;
    --background-secondary: #f5f6f8;
    --background-tag: #b5b5b5;
    --border-inline-code: rgb(215, 215, 215);
    --code-block-background: #f5f6f8;
    --code-block-border: #f5f6f8;
    --font-family-editor: var(--default-font);
    --font-family-preview: var(--default-font);
    --interactive-accent: var(--light-accent);
    --interactive-accent-muted: rgb(203, 77, 73, 0.5);
    --interactive-accent-hover: var(--light-accent);
    --scrollbar-bg: none;
    --scrollbar-thumb-bg: none;
    --text-accent: var(--light-accent);
    --text-accent-hover: var(--light-accent);
    --text-faint: rgb(150, 150, 150);
    --text-header: var(--light-accent);
    --text-highlight-bg: #b4ff0066;
    --text-inline-code: rgb(45, 45, 45);
    --text-nav-selected: #fff;
    --text-nav: rgb(190, 190, 190);
    --text-normal: rgb(44, 44, 44);
    --text-normal-opposite: rgb(216, 216, 216);
}


/*  ----------  DARK THEME ----------  */

.theme-dark {
    --background-inline-code: rgb(41, 44, 46);
    --background-nav-alt: rgb(58, 62, 63);
    --background-nav-file-tag: var(--dark-accent);
    --background-nav-selected: var(--dark-accent);
    --background-nav: rgb(41, 44, 46);
    --background-primary: rgb(28, 30, 32);
    --background-tag: rgb(111, 112, 116);
    --border-inline-code: rgb(76, 76, 76);
    --code-block-background: rgb(32, 32, 32);
    --code-block-border: rgb(77, 77, 77);
    --color-title: #fff;
    --color-axis: #fff;
    --color-axis-label: #fff;
    --color-tick-label: #fff;
    --color-line: #fff;
    --color-legend: #fff;
    --color-dot-fill: #69b3a2;
    --color-dot-stroke: none;
    --color-tooltip-bg: #ffffff;
    --color-tooltip-border: #000000;
    --color-tooltip-label: #000000;
    --font-family-editor: var(--default-font);
    --font-family-preview: var(--default-font);
    --interactive-accent: var(--dark-accent);
    --interactive-accent-hover: var(--dark-accent);
    --scrollbar-bg: none;
    --scrollbar-thumb-bg: none;
    --text-accent: var(--dark-accent);
    --text-faint: rgb(150, 150, 150);
    --text-header: rgb(198, 213, 224);
    --text-highlight-bg: #b4ff0066;
    --text-inline-code: rgb(230, 230, 230);
    --text-nav-selected: rgb(255, 255, 255);
    --text-nav: rgb(190, 190, 190);
    --text-normal: rgb(216, 216, 216);
    --text-normal-oppsite: rgb(44, 44, 44);
}

/* ----------------------------------
auto fades status bar items 
Credit: rsdimitrov, Obsidian forum 
----------------------------------- */

.status-bar:not(:hover) .status-bar-item {
  opacity: 0.25;
  transition: opacity .25s ease-in-out;
}

/* -----------------------------------
Add quotation character before quote 
Credit: Thery, Obsidian forum
------------------------------------ */
blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p { display: inline; }

/* ----------------------------------
bigger link popup preview  
Credit: _ph, Obsidian forum
----------------------------------- */
.popover.hover-popover {
    transform: scale(0.8); /* makes the content smaller */
    max-height: 800px;    /* was 300 */
    min-height: 100px;
    width: 500px;     /* was 400 */
}

/* ----------------------------------
modified from ITS theme
----------------------------------- */
/*Nav Folder Lines*/
.nav-folder, .nav-file {
    margin: 0 -2px;
    margin-right: 0px;
    border-left: 1px solid var(--text-faint);
}
/*Align Folder Line*/
.nav-folder-children {
    padding-left: 18px;
}
/*Nav Hover Line Colors*/
.nav-folder:hover,
.nav-file:hover {
    border-color: var(--text-accent);
}

/*Tag Pane Lines*/
.tag-container .tree-item-children {
    margin-left: .7em;
    border-left: 1px solid var(--text-faint);
    border-bottom: 1px solid var(--note);  /*Removes Dot!!*/
    transition: all 0.5s ease-in-out;
    padding: 0;
}

.tag-container .tree-item-children:hover {
    border-left: 1px solid var(--text-accent);
}

/*Outline Pane Lines*/
.outline .tree-item-children {
    margin-left: .7em;
    border-left: 1px solid var(--text-faint);
    transition: all 0.3s ease-in-out;
    padding: 0;
}
.outline .tree-item-children:hover {
    border-color: var(--text-accent);
}

/*Editor Bullet Lines*/
.markdown-preview-view .task-list-item-checkbox {
    margin-right: 2%;
}

.cm-hmd-list-indent .cm-tab {
    position: relative;
}
.cm-hmd-list-indent .cm-tab::before {
    content:'';
    border-left: 1px solid var(--text-faint);
    position: absolute;
    left: 6px;
    top: -5px;
    bottom: -4px; 
}

.cm-s-obsidian .HyperMD-list-line {
    padding-top: 0;
}


/*---- PREVIEW MODE ----*/

.markdown-embed .markdown-preview-view {
    padding: 0;
}

.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    border-left: 1px solid var(--background-modifier-border);
    border-top: 0;
    border-bottom: 0;
    padding: 0 24px;
    margin: 0;
}

div.markdown-preview-view {
    font-family: var(--font-family-preview);
}

.markdown-preview-view blockquote {
    border-radius: 0;
    border: 0px solid var(--text-accent);
    border-left-width: 5px;
}

/* ---------- END --------- */

/*---------------------------
LIST RELATIONSHIP LINES - PREVIEW ONLY
Credit: Obsidian forum (this appears in a lot of places,
it's difficult to identify the original author)
---------------------------*/

ul {
    position: relative; 
}

ul ul::before {
    content:'';
    border-left: 1px solid var(--interactive-accent);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

ul ul::before {
    left: -11px;
}

/*---- NOTE TRANSCLUSION PREVIEW ----*/

.markdown-embed-title, .file-embed-title {
    font-size: 0;
}

.markdown-embed-title {
    height: 0;
}

/*---- SIDE PANES ----*/

.view-header, .workspace-ribbon.is-collapsed, .workspace-ribbon.mod-left.is-collapsed, .workspace-leaf.mod-active .view-header, .workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header, .status-bar {
    background-color: var(--background-primary);
    border: none;
}

.workspace-leaf-resize-handle:hover {
    background-color: var(--interactive-accent-hover);
}

/*---- YAML IN PREVIEW MODE ----*/

.frontmatter-container {
    display: none;
}

/*---- NOTE TITLE BAR ----*/

.nav-file-title.is-active {
    background-color: var(--background-nav-selected);
    color: var(--text-nav-selected);
}

/*---- TAGS ----*/

a.tag {
    font-size: 10px;
    color: var(--text-accent);
    text-decoration: none;
}

/* ---------- CODE BLOCK (EDIT MODE) ------------- */

.cm-s-obsidian .HyperMD-codeblock {
    color: var(--text-accent)!important;
}

.theme-light :not(pre) > code[class*="language-"], .theme-light pre[class*="language-"],
.theme-dark :not(pre) > code[class*="language-"], .theme-dark pre[class*="language-"] {
    background-color: var(--background-secondary);
}

/* ---------- GRAPH ------------- */

.graph-controls {
    position: absolute;
    background-color: var(--background-primary);
    border: 1px solid var(--interactive-accent);
}

/* ----- fake admonition ----- */
:root {
}

/* ----- PINK HIGHLIGHT ----- */
.sourcenote h6[data-heading="pink"] {
  font-size: 0;
  background-color: var(--background-secondary);
  margin-bottom: 0;
  border-top: 3px solid var(--highlight-pink);
  padding: 0;
}

/* ----- YELLOW HIGHLIGHT ----- */
.sourcenote h6[data-heading="yellow"] {
  font-size: 0;
  background-color: var(--background-secondary);
  margin-bottom: 0;
  border-top: 3px solid var(--highlight-yellow);
  padding: 0;
}

/* ----- ORANGE HIGHLIGHT ----- */
.sourcenote h6[data-heading="orange"] {
  font-size: 0;
  background-color: var(--background-secondary);
  margin-bottom: 0;
  border-top: 3px solid var(--highlight-orange);
  padding: 0;
}

/* ----- BLUE HIGHLIGHT ----- */
.sourcenote h6[data-heading="blue"] {
  font-size: 0;
  background-color: var(--background-secondary);
  margin-bottom: 0;
  border-top: 3px solid var(--highlight-blue);
  padding: 0;
}

.sourcenote p {
  padding-left: 30px;
  background-color: var(--background-secondary);
  margin: 0;
  padding: 10px;
}

/* ----- RESPONSIVE IFRAMES ----- */
.responsive-iframe center {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe center iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/*  ----------------------------------  
		PLUGINS
-------------------------------------*/

/*  ----------  CHECKLIST ----------  */

.checklist-plugin-main {
    --todoList-contentPadding: 0 5px 0 5px!important;
    --todoList-tagSub: var(--text-accent);
    --todoList-togglePadding: 0 5px 0 5px!important;
    --todoList-checkboxSize: 15px!important;
    --todoList-headerFontWeight: 400!important;
    --todoList-headerFontSize: 16px!important;
    --todoList-headerGap: 0!important;
    --todoList-iconSize: 18px!important;
    --todoList-countFontSize: 12px!important;
}

.tag-base.svelte-yzsyxo {
    font-size: 0;
}

.day.svelte-q3wqg9 {
    background-color: var(--color-background-day);
    color: var(--color-text-day);
    cursor: pointer;
    font-size: 0.7em!important;
    height: 100%;
    padding: 0.2em!important;
    position: relative;
    text-align: center;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
    vertical-align: baseline;
}

/*  ----------  CALENDAR ----------  */

#calendar-container .reset-button {
    font-size: 12px!important;
}

#calendar-container .year {
    color: var(--text-faint);
    font-weight: 400;
}

#calendar-container .month {
    color: var(--text-accent);
    font-weight: 600;
}

#calendar-container .month, #calendar-container .title, #calendar-container .reset-button {
    font-size: 18px;
    text-transform: none;
}

/*  ----------  SLIDING PANES (ANDY'S MODE) ----------  */

body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header > .view-header-title-container:before, .view-header-title-container:after {
    background: var(--background-primary)!important;
}

body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header {
    border: none!important;
}

body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:before {
    height: 15px;
    top: 0;
    bottom: unset;
    background: var(--background-primary)!important;
}
